data/crankseg_2.mtx
data/pwtk.mtx
data/ship_001.mtx
data/web-Google.mtx
data/af_shell9.mtx
data/Fault_639.mtx
data/kkt_power.mtx
data/kron_g500-logn18.mtx
data/mouse_gene.mtx
data/nd24k.mtx
data/TSOPF_FS_b300_c3.mtx
data/mycielskian16.mtx
data/12month1.mtx
data/amazon0601.mtx
data/bibd_22_8.mtx
data/cage14.mtx
data/cant.mtx
data/cari.mtx
data/cit-Patents.mtx
data/CoupCons3D.mtx
data/dielFilterV2real.mtx
data/fem_hifreq_circuit.mtx
data/Hardesty2.mtx
data/hugetrace-00010.mtx
data/human_gene2.mtx
data/IMDB.mtx
data/ldoor.mtx
data/mycielskian14.mtx
data/nemsemm1.mtx
output3/*
output/*
*.[Oo]
*.out
*.exe
*.bin
nohup.out
hyte
scache
.vscode/